@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


#comentarios{
    border: 2px solid rgb(35, 235, 62);
}

#texto{
    border: 2px solid green;
}

#input{
    align-self: flex-start;
    margin-top: 0;
    margin-left: 96px;
    border-radius: 5px;
    color: red;
    background-color: rgb(97, 249, 83);
    font-size: 1.3rem;
}

.form form label{
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.botones{
    display: flex;
}
#comentario{
    font-size: 1.2rem;
}

#borrar{
    display: flex;
    border-radius: 5px;
    color: red;
    background-color: rgb(97, 249, 83);
    font-size: 1.3rem;
}

/* header{
    width: 70%;
    height: 50%;
} */

.navidad{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

#section{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

section div img{
    margin: 50px;
}

.form{
    display: flex;
    padding-top: 70px;
    margin-left: 50px;
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
}

.form input{
    font-size: 1.2rem;
    color: green;
    border-radius: 15px;
    border: 2px solid green;
}

p{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(134, 246, 134);
    color: red;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: 200;
    font-size: 22px;
}