@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    font-family: 'Akaya Telivigala', cursive;
}

#bienvenida{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    background-color: orchid;
    /*background-color: pink;*/
    
}


.bienvenida{
    height: 200px;
    display: flex;
    justify-self: unset;
    align-self: center;
    /*background-color: green;*/
    margin-top: 20px ;
}

.bienvenida p{
    padding-top: 40px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.items{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding-right: 5px;
    /*background-color: orchid;*/
}

.navbar{
    background-color: azure;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px, 20px;
}

.links_navegacion{
    display: flex;
    gap: 25px;
}

.links_navegacion li{
    list-style-type: none;
}

.links_navegacion li a {
    text-decoration: none;
}

.links_navegacion li a:hover {
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: pink;
    font-size: 1.5rem;
}

.titulo{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 249, 22);
}

.parrafo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: red;
}

.parrafo p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}


span{
    color: lightblue;
    font-weight: bold;
}

p{
    text-align: left;
    font-size:  10px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 25px;
}

.perrito img{
    margin-left: 70px ;
    transition: 0.3s ease;
}

.perrito h3{
    text-align: center;
}

.perrito img:hover{
    transform: scale(1.1);
    border: 15px solid lightblue;
    margin-left: 10px;
}

article h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.link{
    display: inline;
}

p{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 19px;
}